* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#wrapper {
  height: 100vh;
  /* width: 100vw; */
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
}
.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background {
  transform: translateZ(-40px) scale(4);
}
.foreground {
  transform: translateZ(-10px) scale(1.5);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
h1 {
  position: absolute;
  top: 5rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font-size: 10rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 4px;
}
section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5rem 0;
}
.secHeading {
  font-size: 5rem;
  padding: 0 10rem;
}
.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 10rem;
}
.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: center;
  color: black;
}
.bg1 {
  background-image: url(./sport-1.jpg);
}
.bg2 {
  background-image: url(./sport-2.jpg);
}
.bg3 {
  background-image: url(./sport-3.jpg);
}
.description {
  position: absolute;
  background-color: white;
  padding: 0.5rem 0.2rem;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translateX(-50%) translateY(-40%);
  font-size: 3.5rem;
}
